# Ignore extension configs
.vscode/**

# Ignore test files
.vscode-test/**
out/test/**

# Ignore source code
src/**
!src/webview/activitybar/dist/
!src/webview/activitybar/dist/**
!src/webview/panel/dist/
!src/webview/panel/dist/**
!src/webview/ptb-builder/dist/
!src/webview/ptb-builder/dist/**

# Ignore Misc
.yarnrc
vsc-extension-quickstart.md
**/node_modules/**
**/.gitignore
**/tsconfig.json
**/vite.config.ts
**/.eslintrc.json
**/*.map
**/*.ts